.search-container{
  position: absolute;
  position: top;
  
  
}

.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
} 
.card-content{
  width: max-content;
  border:1px solid black;

}

.header{
  display: flex;
  justify-content: center;
}